@model List<Prestito>

@{
    ViewData["Title"] = "Prestiti rientrati";
}

@if (Model.Any())
{
    @foreach (var prestito in Model)
    {
        <div>
            <div>Nome utente: @prestito.Username</div>
            <div>Email utente: @prestito.UserEmail</div>
            <div>Titolo: @prestito.Book.Title</div>
            <div>Data prestito: @prestito.DataPrestito</div>
            <div>Data restituzione: @prestito.DataRestituzione</div>
            <div>Scaduto: @(prestito.PrestitoScaduto ? "si" : "no")</div>
            <a asp-controller="Prestiti" asp-action="Details" asp-route-id="@prestito.Id">Dettagli</a>
        </div>
        <hr />
    }
}